body {
    margin: 50px 50px;
}

.image-omelette {
    align-items: center;
    justify-content: center;
}

.omelette {
    border-radius: 10px;
    width: 100%;  
}

.title {
    font-size: 3.375rem;
    margin: 50px auto 50px auto;
    font-family: "Merriweather", serif;
    
}

.p1 {
    margin-top: 50; 
}

p {
    font-size: 1.275rem;
    margin-bottom: 0px;
    margin-top: 0;
    color: #776B5D;
    font-family: "Outfit", sans-serif;
}



.ph1 {
    margin-bottom: 50px;
}

.p2 {
    margin-top: 0;
    padding: 5px 50px 30px 50px; 
    background-color: #FFEEF4;
    border-radius: 10px;
    
}

.pt {
    font-size: 1.65rem;
    margin-bottom: 30px;
    color: #9E4784;
    font-family: "Outfit", sans-serif;
  
}


.bpl {
    color: #776B5D;
    margin: 0 auto 0 20px;
    font-size: 1.275rem;
    font-family: "Outfit", sans-serif;
    
}

ul li {
    
    padding-bottom: 20px;  
}

ol li {
    padding-bottom: 20px;
}

li {
    
    padding-left: 30px;
    
}

.p3 {
    margin-top: 50px;
    margin-bottom: 50px;
}

h2 {
    font-family: "Merriweather", serif;
    font-size: 2.625rem;
    color: #734046;
    margin: 50px auto 50px auto;
}

.p4 {
    margin-bottom: 50px;
}

table {
    width: 100%; 
    margin-top: 30px;
}

th {
    text-align: left;
   padding-left: 600px;
   padding-top: 20px;
   padding-bottom: 20px;
   color: #734046;
   font-size: 1.275rem;
   font-family: "Outfit", sans-serif;
}

td {
 padding-left: 70px;   
 padding-top: 20px;
 padding-bottom: 20px;
 color: #776B5D;
 font-size: 1.275rem;
 font-family: "Outfit", sans-serif;
}

.hor {
    padding: 0;
    width: 300px;
}

.p5 {
    margin-bottom: 50px;
}
